* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 10%, #000000 74%);
  min-height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 10px solid rgb(22, 20, 20);

}

header {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-fields {
  display: flex;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input {
  border-radius: 20px 0 0 20px;
  min-width: 350px;
}

form button {
  border-radius: 0 20px 20px 0;
  padding-right: 1%;
}

form button {
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: black;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  width: 35%;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: #000000;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  min-width: 280px;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: black;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.trash-btn {
  background: white;
  color: black;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  outline: none;
  min-width: 135px;
}

select {
  color: #000000;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: white;
  color: #000000;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #000000;
  color: white;
}

@media only screen and (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .input-fields {
    display: flex;
  }
  .todo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 80%;


  }
  
}
