* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 20%, #f1a7f1 74%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  padding: 10px;
  min-width: 400px;
  width: 70%;
  text-align: center;
}

h1 {
  font-family: monospace;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 800;
}

#random-quote {
  font-family: "Xanh Mono", monospace;
  font-size: 1.5rem;
  font-weight: 900;
}

button {
  margin-top: 3rem;
  border: 1px solid pink;
  box-shadow: none;
  width: 150px;
  height: 50px;
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #f63f69 74%);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border-radius: 15px;
}

button:hover{
    transform: scale(1.2);
}
